* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2F2E41;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.content {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav ul {
  display: flex;
  gap: 64px;
}

.nav a {
  position: relative;
  color: #FFF;
  padding: 16px 0;
}

.nav a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  border-bottom: dashed 2px #FFF;
  transition: 300ms;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .nav ul {
    gap: 20px;
  }

  .nav a {
    padding: 12px 16px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
  }

  .nav a:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .nav a::after {
    display: none;
  }
}