.footer {
  padding: 40px 0;
}

.footer .content {
  max-width: 568px;
  border-top: 1px solid var(--green);
}

.footer__copy {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  color: var(--white);
  padding-top: 30px;
}